html,body,button,input,textarea,div,em,a {
    box-sizing: border-box;
    color: #636363;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    margin: 0;
    padding: 0;
}
/*
* {
    font-size: 1.05em;
}
*/

body, button, input, textarea {
}
button {
    background-color: #3372b3;
    border: 0;
    border-radius: .15em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 1.7em;
    padding: .3em 1.1em;
    text-align: center;
    vertical-align: middle;
    width: auto;
}
input, textarea {
    background-color: #f5f5f5; /*#fbfbfb;*/
    color: #636363;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    padding: 0.2em;
}
input {
    /* This is to gently nudge the input narrower in the tag list above addNote */
    min-width: 60px;
}
button.notice, #nav > div.notice {
    background-color: #ff7c39;
}
.success, button.save {
    background-color: #2084e9 !important;
    color: #fff;
}
.disabled {
    background-color: #ccc !important;
}
.smaller {
    padding: .3em;
}
:focus {
    outline: none;
}



nav {
	display: grid;
    font-weight: bold;
	margin-bottom: 10px;
/*
    margin-right: 10px;
    width: 100%;
*/
}
nav > * {
    background-color: #3372b3;
    /*
    border-color: #fff;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    */
    color: #fff;
    height: 3em;
    line-height: 3em;
    text-align: center;
}
/*
nav > .active {
    background-color: #2084e9;
}
*/
nav > .pagination.disabled {
    background-color: #a9bdd1;
}
nav > .pagination {
    background-color: #74abe3;
}
nav > .separator {
    background-color: transparent;
}


.overlay {
    background-color: #fff;
    bottom: 0;
    display: none;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 2;
}


.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: auto;
}
.flex > * {
    flex: 1;
    padding-left:0;
}
.flex.one > * {
    flex: 1 1 100%;
}
.flex.three > div {
    flex: 1 1 33.3333%;
}
.flex.four > div {
    flex: 1 1 25%;
}
.flex.five > * {
    flex: 1 1 20%;
}
.flex.six > div {
    flex: 1 1 16.6666%;
}
.flex.seven > div {
    flex: 1 1 14.2857%;
}
